<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
   <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>co.ghola.backend.service.AirQualitySampleServiceAPI</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>rssfetcher</servlet-name>
        <servlet-class>co.ghola.backend.service.RssFetcher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>rssfetcher</servlet-name>
        <url-pattern>/rssfetch</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>khoibui-en</servlet-name>
        <jsp-file>/smog-en.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>khoibui-vn</servlet-name>
        <jsp-file>/smog-vn.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>khoibui-en</servlet-name>
        <url-pattern>/en</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>khoibui-vn</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>smog-vn.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>co.ghola.backend.service.OfyService</listener-class>
    </listener>
</web-app>